.b-main {
    display: inline-table;
    margin: 8px;            
}
.msg {
    font-size: 17px;
    color: green;
}
.hello-block {
    padding: 10px;
    margin: 8px;
    display:block;
    border: 1px solid #f1f1f1;    
}
.error {
    font-size: 17px;
    color: crimson;
}
.b-note-text {
    margin : 7px;    
}
.b-notes {
    padding: 10px;
    margin: 8px;
    border: 1px solid #f1f1f1;
    display: inline-table;  
}
.b-note-notes {
    margin: 10px 10px 10px 0;
    
}
.b-block {
    padding: 20px;
    margin: 8px;
    border: 1px solid #f1f1f1;
    display: inline-table;
}
input, textarea {
    border: 1px solid #e1e1e1;
    padding: 3px;
}
.note-block {
    display: inline-table;
    border: 1px solid #f1f1f1;
    margin: 10px 10px 10px 0;     
}

.b-note {
    margin: 10px 10px 10px 0;
}

.b-note-title {
    font-weight: bold;
    margin-right: 10px;
}
.b-note-users {
    margin-right: 7px;
    font-style: italic;
}

textarea[name=text] {
    width: 300px;
    height: 150px;
}
textarea[name=users] {
    width: 300px;
    height: 50px;
}

body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #d3dbeb;
    
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
}

h1 {
    font-size: 28px;
    color: #000;
}

h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 5px;
}

p {
line-height: 1.5em;
margin: 5px;
}

