<div class="note-block">
    <p class="b-note-title"> <% note.title %> </p>
    <p class="b-note-link">
        <a href=<% note.note_id %> >
            Note link
        </a>
    </p>
    
    <div class="b-note-text">
        <ul>
            <% FOR row in note.body %>
                <li><% row %></li>
            <%END%>
        </ul>
        <hr></hr>
        <a href="/new-note" style="margin: 10px">Back to new note</a>
        <hr></hr>  
    </div>
      
</div>
